---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<h1 id="using-the-html-canvas-element">
		Using the HTML Canvas Element
	</h1>
	<ul aria-labelledby="using-the-html-canvas-element">
		<li>
			<h2 id="drawing-on-the-canvas">
				Drawing on the canvas
			</h2>
			<ul aria-labeled-by="drawing-on-the-canvas">
				<li>
					The loop
				</li>
			</ul>
		</li>
	</ul>
</Layout>
